In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_excel('./最终版收集数据 2020.12.30.xlsx', sheet_name=None)

In [3]:
for key, values in data.items():
    print(key)
    print(values.shape)

2016东二（90）失访11
(93, 142)
2016西九（118）失访5
(121, 142)
2016东九（64） 失访5
(67, 142)
2016东十（80）失访3
(83, 142)
2017年东二（81）失访2
(84, 142)
2017年西九（180）失访8
(183, 142)
2017年东九（79）失访9
(81, 142)
2017年东十（197）失访20
(201, 142)
2018年东二（117）失访5
(120, 142)
2018年西九（145）失访7
(148, 142)
2018年东九（71）失访9
(74, 142)
2018年东十（96）失访3
(100, 142)

In [4]:
data_2016_east_2 = data['2016东二（90）失访11']

In [5]:
data_2016_east_2.head()

,人口学特征,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,入院时GRACE评分,Unnamed: 8,Unnamed: 9,...,Unnamed: 132,Unnamed: 133,Unnamed: 134,Unnamed: 135,Unnamed: 136,Unnamed: 137,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,编号,姓名,入院日期,性别,身高（cm）,体重（kg）,BMI,年龄,得分,心率（次/分）,...,日期,新发/再发心肌梗死,日期,再次血运重建,日期,出现心衰/加重,日期,心衰住院,日期,备注
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,XXXX年XX月,NaN,XXXX年XX月,NaN,XXXX年XX月,NaN,XXXX年XX月,NaN,XXXX年XX月,NaN
3,2016东二一季度01,陈庆英,20160225 2150,2,平车,平车,NaN,66,58,94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016东二一季度02,崔峰山,20160115 0910,1,平车,平车,NaN,53,41,51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020年11月3号开始发生胸闷，休息后缓解

In [6]:
data_1 = data_2016_east_2.iloc[:, [i for i in range(0, 21)]]
data_1.head()

,人口学特征,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,入院时GRACE评分,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,编号,姓名,入院日期,性别,身高（cm）,体重（kg）,BMI,年龄,得分,心率（次/分）,...,收缩压（mmHg）,得分,"肌酐（μmol/L）/88,4",得分,Killip分级,得分,危险因素,得分,总分,危险级别
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016东二一季度01,陈庆英,20160225 2150,2,平车,平车,NaN,66,58,94,...,153,24,61,4,k2,20,23,42,163,高危
4,2016东二一季度02,崔峰山,20160115 0910,1,平车,平车,NaN,53,41,51,...,114,43,70,4,K1,0,23,42,133,中危

In [7]:
data_1.columns = data_1.iloc[1].values

In [8]:
data_1.head()

,编号,姓名,入院日期,性别,身高（cm）,体重（kg）,BMI,年龄,得分,心率（次/分）,...,收缩压（mmHg）,得分,"肌酐（μmol/L）/88,4",得分,Killip分级,得分,危险因素,得分,总分,危险级别
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,编号,姓名,入院日期,性别,身高（cm）,体重（kg）,BMI,年龄,得分,心率（次/分）,...,收缩压（mmHg）,得分,"肌酐（μmol/L）/88,4",得分,Killip分级,得分,危险因素,得分,总分,危险级别
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016东二一季度01,陈庆英,20160225 2150,2,平车,平车,NaN,66,58,94,...,153,24,61,4,k2,20,23,42,163,高危
4,2016东二一季度02,崔峰山,20160115 0910,1,平车,平车,NaN,53,41,51,...,114,43,70,4,K1,0,23,42,133,中危

In [9]:
data_1 = data_1.drop(index=[0,1,2])
data_1.head()

,编号,姓名,入院日期,性别,身高（cm）,体重（kg）,BMI,年龄,得分,心率（次/分）,...,收缩压（mmHg）,得分,"肌酐（μmol/L）/88,4",得分,Killip分级,得分,危险因素,得分,总分,危险级别
3,2016东二一季度01,陈庆英,20160225 2150,2,平车,平车,NaN,66,58,94,...,153,24,61,4,k2,20,23,42,163,高危
4,2016东二一季度02,崔峰山,20160115 0910,1,平车,平车,NaN,53,41,51,...,114,43,70,4,K1,0,23,42,133,中危
5,2016东二一季度03,付国桢,20160107 0817,1,170,平车,NaN,53,41,60,...,118,43,82,7,K1,0,23,42,136,中危
6,2016东二一季度04,胡继彬,20160120 0823,1,165,72,NaN,58,41,61,...,128,34,71,4,K1,0,23,42,124,中危
7,2016东二一季度05,花成芳,20160303 1923,2,平车,平车,NaN,48,25,76,...,125,34,60,4,K1,0,23,42,114,中危

In [10]:
data_1 = data_1.drop(columns=['得分'])
data_1.head()

,编号,姓名,入院日期,性别,身高（cm）,体重（kg）,BMI,年龄,心率（次/分）,收缩压（mmHg）,"肌酐（μmol/L）/88,4",Killip分级,危险因素,总分,危险级别
3,2016东二一季度01,陈庆英,20160225 2150,2,平车,平车,NaN,66,94,153,61,k2,23,163,高危
4,2016东二一季度02,崔峰山,20160115 0910,1,平车,平车,NaN,53,51,114,70,K1,23,133,中危
5,2016东二一季度03,付国桢,20160107 0817,1,170,平车,NaN,53,60,118,82,K1,23,136,中危
6,2016东二一季度04,胡继彬,20160120 0823,1,165,72,NaN,58,61,128,71,K1,23,124,中危
7,2016东二一季度05,花成芳,20160303 1923,2,平车,平车,NaN,48,76,125,60,K1,23,114,中危

In [11]:
data_1.shape

(90, 15)

In [12]:
data_2 = data_2016_east_2.iloc[:, [i for i in range(22, 62)]]
data_2.head()

,既往史,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,...,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,临床诊断
0,高血压病史,NaN,NaN,NaN,糖尿病病史,NaN,NaN,NaN,吸烟史,NaN,...,NaN,NaN,早发心血管疾病 家族史,心律失常病史,NaN,NaN,颈动脉斑块(有无斑块),NaN,NaN,NaN
1,无=0，有=1,有,NaN,NaN,无=0，有=1,有,NaN,NaN,无=0，有=1,有,...,NaN,NaN,NaN,无=0，有=1,有=1,NaN,左侧,右侧,双侧,NaN
2,NaN,病史（年）,最高（mmHg),降压药物,NaN,病史（年）,分型,合并症*,NaN,支/日,...,末次血肌酐值（μmol/L）,分级,NaN,NaN,时间（年）,类型,NaN,NaN,NaN,NaN
3,1,10,200,不详控制良好,1,10,2,NaN,0,NaN,...,NaN,NaN,1,1,5～6,心动过缓,NaN,NaN,NaN,2.0
4,0,NaN,NaN,NaN,0,NaN,NaN,NaN,1,20,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,2.0

In [13]:
data_2.iloc[1].values

array(['无=0，有=1', '有', nan, nan, '无=0，有=1', '有', nan, nan, '无=0，有=1', '有',
       nan, '是否戒烟', nan, '无=0，有=1', '有', nan, '是否戒酒', nan, '无=0，有=1',
       '有（年）', '0=无，1=支架，2=搭桥', '0=无，1=HFrEF', '无=0，有=1', '有', nan,
       '无=0，有=1', '有', nan, '无=0，有=1', '有', nan, nan, nan, '无=0，有=1',
       '有=1', nan, '左侧', '右侧', '双侧', nan], dtype=object)

In [14]:
new_data_2 = pd.DataFrame()
disease_history_dict = {'高血压病史': 22,'糖尿病病史': 26,'吸烟史': 30,'饮酒史': 35,'心肌梗死史': 40,'血运重建史': 42,
                       '心力衰竭史': 43,'脑血管病史': 44,'呼吸系统病史': 47,'肾功能不全': 50,'早发心血管疾病家族史': 54,
                       '心律失常病史': 55,'颈动脉斑块(有无斑块)左侧': 58,'颈动脉斑块(有无斑块)右侧': 59,
                       '颈动脉斑块(有无斑块)双侧': 60,'临床诊断': 61}
for key,value in disease_history_dict.items():
    new_data_2[key] = data_2016_east_2.iloc[:, value]
new_data_2.head()

,高血压病史,糖尿病病史,吸烟史,饮酒史,心肌梗死史,血运重建史,心力衰竭史,脑血管病史,呼吸系统病史,肾功能不全,早发心血管疾病家族史,心律失常病史,颈动脉斑块(有无斑块)左侧,颈动脉斑块(有无斑块)右侧,颈动脉斑块(有无斑块)双侧,临床诊断
0,高血压病史,糖尿病病史,吸烟史,饮酒史,心肌梗死史,血运重建史,心力衰竭史,脑血管病史,呼吸系统病史,肾功能不全,早发心血管疾病 家族史,心律失常病史,颈动脉斑块(有无斑块),NaN,NaN,NaN
1,无=0，有=1,无=0，有=1,无=0，有=1,无=0，有=1,无=0，有=1,0=无，1=支架，2=搭桥,0=无，1=HFrEF,无=0，有=1,无=0，有=1,无=0，有=1,NaN,无=0，有=1,左侧,右侧,双侧,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,"2=HFmEF,3=HFpEF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1,0,0,0,0,0,0,0,0,1,1,NaN,NaN,NaN,2.0
4,0,0,1,1,0,0,0,0,0,0,0,0,NaN,NaN,NaN,2.0

In [15]:
new_data_2 = new_data_2.drop(index=[0, 1, 2])
new_data_2.head()

,高血压病史,糖尿病病史,吸烟史,饮酒史,心肌梗死史,血运重建史,心力衰竭史,脑血管病史,呼吸系统病史,肾功能不全,早发心血管疾病家族史,心律失常病史,颈动脉斑块(有无斑块)左侧,颈动脉斑块(有无斑块)右侧,颈动脉斑块(有无斑块)双侧,临床诊断
3,1,1,0,0,0,0,0,0,0,0,1,1,NaN,NaN,NaN,2.0
4,0,0,1,1,0,0,0,0,0,0,0,0,NaN,NaN,NaN,2.0
5,0,0,1,1,0,0,0,0,0,0,0,0,NaN,NaN,NaN,2.0
6,1,0,0,1,0,0,2,0,0,0,1,0,1,1,1,2.0
7,1,0,0,0,0,0,0,0,0,0,1,0,NaN,NaN,NaN,2.0

In [16]:
data_1 = pd.concat([data_1, new_data_2], axis=1)
data_1.shape

(90, 31)

In [17]:
data_1.head()

,编号,姓名,入院日期,性别,身高（cm）,体重（kg）,BMI,年龄,心率（次/分）,收缩压（mmHg）,...,心力衰竭史,脑血管病史,呼吸系统病史,肾功能不全,早发心血管疾病家族史,心律失常病史,颈动脉斑块(有无斑块)左侧,颈动脉斑块(有无斑块)右侧,颈动脉斑块(有无斑块)双侧,临床诊断
3,2016东二一季度01,陈庆英,20160225 2150,2,平车,平车,NaN,66,94,153,...,0,0,0,0,1,1,NaN,NaN,NaN,2.0
4,2016东二一季度02,崔峰山,20160115 0910,1,平车,平车,NaN,53,51,114,...,0,0,0,0,0,0,NaN,NaN,NaN,2.0
5,2016东二一季度03,付国桢,20160107 0817,1,170,平车,NaN,53,60,118,...,0,0,0,0,0,0,NaN,NaN,NaN,2.0
6,2016东二一季度04,胡继彬,20160120 0823,1,165,72,NaN,58,61,128,...,2,0,0,0,1,0,1,1,1,2.0
7,2016东二一季度05,花成芳,20160303 1923,2,平车,平车,NaN,48,76,125,...,0,0,0,0,1,0,NaN,NaN,NaN,2.0

In [18]:
data_3 = data_2016_east_2.iloc[:, [i for i in range(67, 83)]]
data_3.head()

,,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,cTnT,CK-MB,MYO,NT-poBNP,APOB,TC,TG,LDL-C,FPG,BUN,CR,HB,HbA1c,CRP,凝血酶原时间,纤维蛋白原
2,ng/l,ng/ml,ng/ml,pg/mL,g/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,μmol/L,g/L,%,mg/L,S,g/L
3,3.1microg/l,174microg/l,160microg/l,3360,NaN,5.16,0.61,3.24,10.75,4.37,61,126,NaN,5.99,NaN,NaN
4,0.65ug/ml,NaN,NaN,279.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.5,NaN,10.8,3.03

In [19]:
keys = data_3.iloc[[1, 2]].values[0]
values = data_3.iloc[[1, 2]].values[1]
new_columns = []
for i in range(len(keys)):
    new_columns.append(keys[i].strip() + '(' + values[i].strip() + ')')
new_columns

['cTnT(ng/l)',
 'CK-MB(ng/ml)',
 'MYO(ng/ml)',
 'NT-poBNP(pg/mL)',
 'APOB(g/L)',
 'TC(mmol/L)',
 'TG(mmol/L)',
 'LDL-C(mmol/L)',
 'FPG(mmol/L)',
 'BUN(mmol/L)',
 'CR(μmol/L)',
 'HB(g/L)',
 'HbA1c(%)',
 'CRP(mg/L)',
 '凝血酶原时间(S)',
 '纤维蛋白原(g/L)']

In [20]:
data_3.columns = new_columns
data_3.head()

,cTnT(ng/l),CK-MB(ng/ml),MYO(ng/ml),NT-poBNP(pg/mL),APOB(g/L),TC(mmol/L),TG(mmol/L),LDL-C(mmol/L),FPG(mmol/L),BUN(mmol/L),CR(μmol/L),HB(g/L),HbA1c(%),CRP(mg/L),凝血酶原时间(S),纤维蛋白原(g/L)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,cTnT,CK-MB,MYO,NT-poBNP,APOB,TC,TG,LDL-C,FPG,BUN,CR,HB,HbA1c,CRP,凝血酶原时间,纤维蛋白原
2,ng/l,ng/ml,ng/ml,pg/mL,g/L,mmol/L,mmol/L,mmol/L,mmol/L,mmol/L,μmol/L,g/L,%,mg/L,S,g/L
3,3.1microg/l,174microg/l,160microg/l,3360,NaN,5.16,0.61,3.24,10.75,4.37,61,126,NaN,5.99,NaN,NaN
4,0.65ug/ml,NaN,NaN,279.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.5,NaN,10.8,3.03

In [21]:
data_3 = data_3.drop(index=[0, 1, 2])
data_3.head()

,cTnT(ng/l),CK-MB(ng/ml),MYO(ng/ml),NT-poBNP(pg/mL),APOB(g/L),TC(mmol/L),TG(mmol/L),LDL-C(mmol/L),FPG(mmol/L),BUN(mmol/L),CR(μmol/L),HB(g/L),HbA1c(%),CRP(mg/L),凝血酶原时间(S),纤维蛋白原(g/L)
3,3.1microg/l,174microg/l,160microg/l,3360,NaN,5.16,0.61,3.24,10.75,4.37,61,126,NaN,5.99,NaN,NaN
4,0.65ug/ml,NaN,NaN,279.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.5,NaN,10.8,3.03
5,6.34ng/ml,11.1,NaN,335,NaN,4.87,1.12,3.56,6.97,3.6,2.48,156,7.4,28.5,11.5,4.9
6,0.01,2.8,NaN,148,NaN,4.03,1.32,2.86,4.83,5.9,71,149,NaN,2.81,10.9,2.84
7,0.21ng/l,2.1,13.5,264.4,NaN,4.76,1.09,3.34,4.91,4.18,60,129,NaN,NaN,11.8,2.21

In [22]:
data_1 = pd.concat([data_1, data_3], axis=1)
data_1.head()

,编号,姓名,入院日期,性别,身高（cm）,体重（kg）,BMI,年龄,心率（次/分）,收缩压（mmHg）,...,TG(mmol/L),LDL-C(mmol/L),FPG(mmol/L),BUN(mmol/L),CR(μmol/L),HB(g/L),HbA1c(%),CRP(mg/L),凝血酶原时间(S),纤维蛋白原(g/L)
3,2016东二一季度01,陈庆英,20160225 2150,2,平车,平车,NaN,66,94,153,...,0.61,3.24,10.75,4.37,61,126,NaN,5.99,NaN,NaN
4,2016东二一季度02,崔峰山,20160115 0910,1,平车,平车,NaN,53,51,114,...,NaN,NaN,NaN,NaN,NaN,NaN,5.5,NaN,10.8,3.03
5,2016东二一季度03,付国桢,20160107 0817,1,170,平车,NaN,53,60,118,...,1.12,3.56,6.97,3.6,2.48,156,7.4,28.5,11.5,4.9
6,2016东二一季度04,胡继彬,20160120 0823,1,165,72,NaN,58,61,128,...,1.32,2.86,4.83,5.9,71,149,NaN,2.81,10.9,2.84
7,2016东二一季度05,花成芳,20160303 1923,2,平车,平车,NaN,48,76,125,...,1.09,3.34,4.91,4.18,60,129,NaN,NaN,11.8,2.21

In [23]:
data_4 = data_2016_east_2.iloc[:, [i for i in range(94, 100)]]
data_4.head()

        心电图 Unnamed: 95 Unnamed: 96    心脏超声 Unnamed: 98 Unnamed: 99
0       NaN         NaN         NaN     NaN         NaN         NaN
1  ST-T动态改变     致命性心律失常        心脏骤停  LV(mm)     LVEF（%）     MI机械并发症
2       NaN         NaN         NaN     NaN         NaN         NaN
3         1           0           0      44         0.6           0
4         1           0           0      47        0.66           0

In [24]:
data_4.columns = data_4.iloc[1]
data_4.head()

1  ST-T动态改变  致命性心律失常  心脏骤停  LV(mm)  LVEF（%）  MI机械并发症
0       NaN      NaN   NaN     NaN      NaN      NaN
1  ST-T动态改变  致命性心律失常  心脏骤停  LV(mm)  LVEF（%）  MI机械并发症
2       NaN      NaN   NaN     NaN      NaN      NaN
3         1        0     0      44      0.6        0
4         1        0     0      47     0.66        0

In [25]:
data_4 = data_4.drop(index=[0, 1, 2])
data_4.head()

1 ST-T动态改变 致命性心律失常 心脏骤停 LV(mm) LVEF（%） MI机械并发症
3        1       0    0     44     0.6       0
4        1       0    0     47    0.66       0
5  0（短暂抬高）       0    0     46    0.65       0
6        1       0    0     63     0.4       0
7        1       0    0     41    0.59       0

In [26]:
data_1 = pd.concat([data_1, data_4], axis=1)
data_1.head()

,编号,姓名,入院日期,性别,身高（cm）,体重（kg）,BMI,年龄,心率（次/分）,收缩压（mmHg）,...,HbA1c(%),CRP(mg/L),凝血酶原时间(S),纤维蛋白原(g/L),ST-T动态改变,致命性心律失常,心脏骤停,LV(mm),LVEF（%）,MI机械并发症
3,2016东二一季度01,陈庆英,20160225 2150,2,平车,平车,NaN,66,94,153,...,NaN,5.99,NaN,NaN,1,0,0,44,0.6,0
4,2016东二一季度02,崔峰山,20160115 0910,1,平车,平车,NaN,53,51,114,...,5.5,NaN,10.8,3.03,1,0,0,47,0.66,0
5,2016东二一季度03,付国桢,20160107 0817,1,170,平车,NaN,53,60,118,...,7.4,28.5,11.5,4.9,0（短暂抬高）,0,0,46,0.65,0
6,2016东二一季度04,胡继彬,20160120 0823,1,165,72,NaN,58,61,128,...,NaN,2.81,10.9,2.84,1,0,0,63,0.4,0
7,2016东二一季度05,花成芳,20160303 1923,2,平车,平车,NaN,48,76,125,...,NaN,NaN,11.8,2.21,1,0,0,41,0.59,0

In [27]:
data_5 = data_2016_east_2.iloc[:, [i for i in range(103, 104)]]
data_5.head()

   时间是否推迟
0     NaN
1     NaN
2     NaN
3     0.0
4     1.0

In [28]:
data_5 = data_5.drop(index=[0, 1, 2])
data_5.head()

   时间是否推迟
3     0.0
4     1.0
5     1.0
6     1.0
7     1.0

In [29]:
data_1 = pd.concat([data_1, data_5], axis=1)
data_1.head()

,编号,姓名,入院日期,性别,身高（cm）,体重（kg）,BMI,年龄,心率（次/分）,收缩压（mmHg）,...,CRP(mg/L),凝血酶原时间(S),纤维蛋白原(g/L),ST-T动态改变,致命性心律失常,心脏骤停,LV(mm),LVEF（%）,MI机械并发症,时间是否推迟
3,2016东二一季度01,陈庆英,20160225 2150,2,平车,平车,NaN,66,94,153,...,5.99,NaN,NaN,1,0,0,44,0.6,0,0.0
4,2016东二一季度02,崔峰山,20160115 0910,1,平车,平车,NaN,53,51,114,...,NaN,10.8,3.03,1,0,0,47,0.66,0,1.0
5,2016东二一季度03,付国桢,20160107 0817,1,170,平车,NaN,53,60,118,...,28.5,11.5,4.9,0（短暂抬高）,0,0,46,0.65,0,1.0
6,2016东二一季度04,胡继彬,20160120 0823,1,165,72,NaN,58,61,128,...,2.81,10.9,2.84,1,0,0,63,0.4,0,1.0
7,2016东二一季度05,花成芳,20160303 1923,2,平车,平车,NaN,48,76,125,...,NaN,11.8,2.21,1,0,0,41,0.59,0,1.0

In [30]:
data_6 = data_2016_east_2.iloc[:, [i for i in range(104, 113)]]
data_6.head()

,出院带药,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,拜阿司匹林,P2Y12受体拮抗剂,倍他乐克,单硝酸异山梨酯类,曲美他嗪,尼可地尔,ACEI/ARB,他汀类,CCB
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,0,0,1,1,1,2,0
4,1,3,0,1,1,0,0,1,0

In [31]:
data_6.columns = data_6.iloc[1].values
data_6.head()

   拜阿司匹林  P2Y12受体拮抗剂  倍他乐克  单硝酸异山梨酯类  曲美他嗪  尼可地尔  ACEI/ARB  他汀类  CCB
0    NaN         NaN   NaN       NaN   NaN   NaN       NaN  NaN  NaN
1  拜阿司匹林  P2Y12受体拮抗剂  倍他乐克  单硝酸异山梨酯类  曲美他嗪  尼可地尔  ACEI/ARB  他汀类  CCB
2    NaN         NaN   NaN       NaN   NaN   NaN       NaN  NaN  NaN
3      1           3     0         0     1     1         1    2    0
4      1           3     0         1     1     0         0    1    0

In [32]:
data_6 = data_6.drop(index=[0, 1, 2])
data_6.head()

  拜阿司匹林 P2Y12受体拮抗剂 倍他乐克 单硝酸异山梨酯类 曲美他嗪 尼可地尔 ACEI/ARB 他汀类 CCB
3     1          3    0        0    1    1        1   2   0
4     1          3    0        1    1    0        0   1   0
5     1          3    0        0    0    1        0   1   0
6     1          3    1        1    0    0        0   2   1
7     1          3    1        1    1    0        0   1   1

In [33]:
data_1 = pd.concat([data_1, data_6],axis=1)
data_1.head()

,编号,姓名,入院日期,性别,身高（cm）,体重（kg）,BMI,年龄,心率（次/分）,收缩压（mmHg）,...,时间是否推迟,拜阿司匹林,P2Y12受体拮抗剂,倍他乐克,单硝酸异山梨酯类,曲美他嗪,尼可地尔,ACEI/ARB,他汀类,CCB
3,2016东二一季度01,陈庆英,20160225 2150,2,平车,平车,NaN,66,94,153,...,0.0,1,3,0,0,1,1,1,2,0
4,2016东二一季度02,崔峰山,20160115 0910,1,平车,平车,NaN,53,51,114,...,1.0,1,3,0,1,1,0,0,1,0
5,2016东二一季度03,付国桢,20160107 0817,1,170,平车,NaN,53,60,118,...,1.0,1,3,0,0,0,1,0,1,0
6,2016东二一季度04,胡继彬,20160120 0823,1,165,72,NaN,58,61,128,...,1.0,1,3,1,1,0,0,0,2,1
7,2016东二一季度05,花成芳,20160303 1923,2,平车,平车,NaN,48,76,125,...,1.0,1,3,1,1,1,0,0,1,1

In [34]:
data_7 = pd.DataFrame()
after_recover_dict = {'已故': 123, '心源性死亡': 125, '新发/再发心肌梗死': 133}
for key, value in after_recover_dict.items():
    data_7[key] = data_2016_east_2.iloc[:, value]

data_7.head()

    已故  心源性死亡  新发/再发心肌梗死
0  NaN    NaN        NaN
1   已故  心源性死亡  新发/再发心肌梗死
2  NaN    NaN        NaN
3  NaN    NaN        NaN
4  NaN    NaN        NaN

In [35]:
data_7 = data_7.drop(index=[0, 1, 2])
data_7.head()

    已故 心源性死亡 新发/再发心肌梗死
3  NaN   NaN       NaN
4  NaN   NaN       NaN
5  NaN   NaN       NaN
6  NaN   NaN       NaN
7  NaN   NaN       NaN

In [36]:
data_1 = pd.concat([data_1, data_7], axis=1)
data_1.shape

(90, 66)

In [37]:
data_1.head()

,编号,姓名,入院日期,性别,身高（cm）,体重（kg）,BMI,年龄,心率（次/分）,收缩压（mmHg）,...,倍他乐克,单硝酸异山梨酯类,曲美他嗪,尼可地尔,ACEI/ARB,他汀类,CCB,已故,心源性死亡,新发/再发心肌梗死
3,2016东二一季度01,陈庆英,20160225 2150,2,平车,平车,NaN,66,94,153,...,0,0,1,1,1,2,0,NaN,NaN,NaN
4,2016东二一季度02,崔峰山,20160115 0910,1,平车,平车,NaN,53,51,114,...,0,1,1,0,0,1,0,NaN,NaN,NaN
5,2016东二一季度03,付国桢,20160107 0817,1,170,平车,NaN,53,60,118,...,0,0,0,1,0,1,0,NaN,NaN,NaN
6,2016东二一季度04,胡继彬,20160120 0823,1,165,72,NaN,58,61,128,...,1,1,0,0,0,2,1,NaN,NaN,NaN
7,2016东二一季度05,花成芳,20160303 1923,2,平车,平车,NaN,48,76,125,...,1,1,1,0,0,1,1,NaN,NaN,NaN

In [38]:
data_1.to_csv('./data_1.csv', index=False)