In [1]:
import numpy as np
import pandas as pd

In [2]:
file_name = 'C:/Users/wangkc/Desktop/python/CLOUT/CLOUT/hxf/new/total_20200709.csv'  # 读入文件
data = pd.read_csv(file_name)
data.shape

(5430, 89)

In [3]:
data.columns

Index(['hadm_id', 'hadm_id.1', 'subject_id', 'admittime', 'dischtime',
       'deathtime', 'discharge_location', 'religion', 'marital_status',
       'ethnicity', 'diagnosis', 'gender', 'dob', 'dod', 'expire_flag',
       'descriptin', '228151', '228152', '225309', '618', '8555', '220046',
       '225310', '226534', '226537', '226540', '226761', '226762', '227017',
       '227062', '227063', '227242', '227243', '227429', '227444', '220545',
       '220050', '220650', '224167', '224643', '1522', '1523', '1529',
       '220051', '1535', '1536', '1539', '1542', '781', '6', '51', '220180',
       '813', '442', '455', '220210', '814', '482', '484', '8440', '8441',
       '837', '851', '861', '220228', '1127', '8445', '8446', '6701', '8364',
       '8368', '50861', '50862', '50878', '50912', '50954', '51464', '50910',
       '50911', '50963', '50909', '50903', '50904', '50905', '50907', '51000',
       '50927', '50906', '50945'],
      dtype='object')

In [4]:
age = (pd.to_datetime(data['admittime']).dt.year - pd.to_datetime(data['dob']).dt.year)
age

0        63
1        77
2        82
3        86
4        88
       ...
5425     66
5426     62
5427     54
5428    307
5429     54
Length: 5430, dtype: int64

In [5]:
age[age > 89] = age[age > 89] - 211

In [6]:
age

0       63
1       77
2       82
3       86
4       88
        ..
5425    66
5426    62
5427    54
5428    96
5429    54
Length: 5430, dtype: int64

In [7]:
data['age'] = age
data.shape

(5430, 90)

In [8]:
import datetime as dt

def convert(x):
    return (pd.to_datetime(x) - np.datetime64('1970-01-01T08:00:00Z')) / np.timedelta64(1, 's')

data['flag'] = np.zeros(data.shape[0])
for i in data.iterrows():
    if i[1]['expire_flag'] == 1:
        if (convert(i[1]['dod']) - convert(i[1]['admittime'])) < 365 * 24 * 3600:
            data.loc[i[0], 'flag'] = 1

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: parsing timezone aware datetimes is deprecated; this will raise an error in the future
  after removing the cwd from sys.path.

In [9]:
data['flag'][data['flag'] == 1].count()

1627

In [10]:
data = data.drop(labels=['hadm_id','hadm_id.1', 'subject_id', 'admittime', 'dischtime', 'deathtime', 'dob', 'dod'], axis=1)
data.shape

(5430, 83)

In [11]:
data.head()

,discharge_location,religion,marital_status,ethnicity,diagnosis,gender,expire_flag,descriptin,228151,228152,...,50903,50904,50905,50907,51000,50927,50906,50945,age,flag
0,HOME HEALTH CARE,NOT SPECIFIED,MARRIED,WHITE,CHEST PAIN/ CATH,F,0,PERCUTANEOUS CARDIOVASCULAR PROCEDURES WITH AC...,NaN,NaN,...,3.0,47,64.0,141,152,NaN,NaN,NaN,63,0.0
1,HOME,PROTESTANT QUAKER,WIDOWED,WHITE,CORONARY ARTERY DISEASE,F,0,PERCUTANEOUS CARDIOVASCULAR PROCEDURES WITH AC...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77,0.0
2,REHAB/DISTINCT PART HOSP,UNOBTAINABLE,WIDOWED,UNKNOWN/NOT SPECIFIED,ST ELEVATION MI\CATH,F,0,PERCUTANEOUS CARDIOVASCULAR PROCEDURES WITH AC...,NaN,NaN,...,5.1,42,154.0,216,101,NaN,NaN,NaN,82,0.0
3,HOME HEALTH CARE,CATHOLIC,MARRIED,WHITE,ACUTE CORONARY SYNDROME,M,1,Acute Myocardial Infarction,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,0.0
4,DEAD/EXPIRED,CATHOLIC,WIDOWED,WHITE,SEIZURE,F,1,NERVOUS SYSTEM INFECTION EXCEPT VIRAL MENINGITIS,NaN,NaN,...,4.3,59,168.0,256,144,NaN,NaN,NaN,88,1.0

In [16]:
nan_column = []  #找到null值不大于2000的值
for i in data.columns:
    res = data[i].isnull().sum()
    if res > 1000:
        nan_column.append(i)
print(len(nan_column))

70