In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
text_pd = pd.read_csv('./text_vector_20200912.csv')
digital_pd = pd.read_csv('./total_notes_20200709.csv')

D:\ProgramData\anaconda3\envs\py36_cpu\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (45,54,88,91,94,96,105,106,116,123,128,129,134,136,137) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
text_pd.head()

,1,2,3,4,5,6,7,8,9,10,...,193,194,195,196,197,198,199,200,hadm_id,flag
0,0.013509,0.001207,0.033994,-0.043248,-0.037487,0.080954,-0.034336,0.015435,0.072741,0.072487,...,-0.056411,0.118998,0.064228,-0.072813,0.077907,0.051272,0.041491,0.101543,121936,1.0
1,-0.025060,-0.009472,0.043057,-0.070655,-0.030373,0.069708,-0.013439,0.041686,0.112789,0.070655,...,-0.073202,0.124922,0.047742,-0.092851,0.068207,0.026188,0.055246,0.094095,146533,0.0
2,-0.015254,-0.005279,0.018983,-0.076844,0.002726,0.046745,-0.008597,0.054734,0.107683,0.092759,...,-0.101270,0.118755,0.112962,-0.157146,0.104290,0.033087,0.063075,0.156352,112385,0.0
3,0.003041,-0.031917,0.029937,-0.067371,-0.029908,0.079296,-0.048438,0.037805,0.069073,0.078426,...,-0.049541,0.126816,0.086432,-0.080204,0.057684,0.032011,0.048602,0.107006,129387,1.0
4,-0.044571,-0.035114,0.011129,-0.072340,-0.011696,0.057001,0.009877,0.047601,0.101774,0.084685,...,-0.096154,0.135698,0.053917,-0.129124,0.049123,0.007659,0.070066,0.109144,139542,0.0

In [4]:
digital_pd.head()

,Unnamed: 0,hadm_id,hadm_id.1,subject_id,admittime,dischtime,deathtime,discharge_location,religion,marital_status,...,50903,50904,50905,50907,51000,50927,50906,50945,age,flag
0,0,127444,127444,3498,2103-12-01 20:39:00,2103-12-04 15:25:00,NaN,HOME HEALTH CARE,NOT SPECIFIED,MARRIED,...,3.0,47,64.0,141,152,NaN,NaN,NaN,63,0.0
1,1,190506,190506,19626,2120-05-23 02:21:00,2120-05-26 12:58:00,NaN,HOME,PROTESTANT QUAKER,WIDOWED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77,0.0
2,2,143516,143516,14110,2152-10-23 14:07:00,2152-10-27 16:15:00,NaN,REHAB/DISTINCT PART HOSP,UNOBTAINABLE,WIDOWED,...,5.1,42,154.0,216,101,NaN,NaN,NaN,82,0.0
3,3,162714,162714,48011,2116-09-13 05:42:00,2116-09-20 14:59:00,NaN,HOME HEALTH CARE,CATHOLIC,MARRIED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,0.0
4,4,161280,161280,7427,2136-03-26 15:23:00,2136-04-04 11:47:00,NaN,REHAB/DISTINCT PART HOSP,NOT SPECIFIED,MARRIED,...,7.9,12,16.0,95,334,NaN,55,NaN,73,0.0

In [5]:
print(text_pd.shape)
print(digital_pd.shape)

(5298, 202)
(5430, 143)

In [14]:
new_column = []
for column in text_pd.columns:
    new_column.append('text_' + column)
new_column[-2:] = ['hadm_id', 'flag']
print(new_column)

['text_1', 'text_2', 'text_3', 'text_4', 'text_5', 'text_6', 'text_7', 'text_8', 'text_9', 'text_10', 'text_11', 'text_12', 'text_13', 'text_14', 'text_15', 'text_16', 'text_17', 'text_18', 'text_19', 'text_20', 'text_21', 'text_22', 'text_23', 'text_24', 'text_25', 'text_26', 'text_27', 'text_28', 'text_29', 'text_30', 'text_31', 'text_32', 'text_33', 'text_34', 'text_35', 'text_36', 'text_37', 'text_38', 'text_39', 'text_40', 'text_41', 'text_42', 'text_43', 'text_44', 'text_45', 'text_46', 'text_47', 'text_48', 'text_49', 'text_50', 'text_51', 'text_52', 'text_53', 'text_54', 'text_55', 'text_56', 'text_57', 'text_58', 'text_59', 'text_60', 'text_61', 'text_62', 'text_63', 'text_64', 'text_65', 'text_66', 'text_67', 'text_68', 'text_69', 'text_70', 'text_71', 'text_72', 'text_73', 'text_74', 'text_75', 'text_76', 'text_77', 'text_78', 'text_79', 'text_80', 'text_81', 'text_82', 'text_83', 'text_84', 'text_85', 'text_86', 'text_87', 'text_88', 'text_89', 'text_90', 'text_91', 'text_92', 'text_93', 'text_94', 'text_95', 'text_96', 'text_97', 'text_98', 'text_99', 'text_100', 'text_101', 'text_102', 'text_103', 'text_104', 'text_105', 'text_106', 'text_107', 'text_108', 'text_109', 'text_110', 'text_111', 'text_112', 'text_113', 'text_114', 'text_115', 'text_116', 'text_117', 'text_118', 'text_119', 'text_120', 'text_121', 'text_122', 'text_123', 'text_124', 'text_125', 'text_126', 'text_127', 'text_128', 'text_129', 'text_130', 'text_131', 'text_132', 'text_133', 'text_134', 'text_135', 'text_136', 'text_137', 'text_138', 'text_139', 'text_140', 'text_141', 'text_142', 'text_143', 'text_144', 'text_145', 'text_146', 'text_147', 'text_148', 'text_149', 'text_150', 'text_151', 'text_152', 'text_153', 'text_154', 'text_155', 'text_156', 'text_157', 'text_158', 'text_159', 'text_160', 'text_161', 'text_162', 'text_163', 'text_164', 'text_165', 'text_166', 'text_167', 'text_168', 'text_169', 'text_170', 'text_171', 'text_172', 'text_173', 'text_174', 'text_175', 'text_176', 'text_177', 'text_178', 'text_179', 'text_180', 'text_181', 'text_182', 'text_183', 'text_184', 'text_185', 'text_186', 'text_187', 'text_188', 'text_189', 'text_190', 'text_191', 'text_192', 'text_193', 'text_194', 'text_195', 'text_196', 'text_197', 'text_198', 'text_199', 'text_200', 'hadm_id', 'flag']

In [18]:
text_pd.columns = new_column
text_pd = text_pd.drop(['flag'], axis=1)
text_pd

,text_1,text_2,text_3,text_4,text_5,text_6,text_7,text_8,text_9,text_10,...,text_192,text_193,text_194,text_195,text_196,text_197,text_198,text_199,text_200,hadm_id
0,0.013509,0.001207,0.033994,-0.043248,-0.037487,0.080954,-0.034336,0.015435,0.072741,0.072487,...,0.043954,-0.056411,0.118998,0.064228,-0.072813,0.077907,0.051272,0.041491,0.101543,121936
1,-0.025060,-0.009472,0.043057,-0.070655,-0.030373,0.069708,-0.013439,0.041686,0.112789,0.070655,...,0.017063,-0.073202,0.124922,0.047742,-0.092851,0.068207,0.026188,0.055246,0.094095,146533
2,-0.015254,-0.005279,0.018983,-0.076844,0.002726,0.046745,-0.008597,0.054734,0.107683,0.092759,...,0.000905,-0.101270,0.118755,0.112962,-0.157146,0.104290,0.033087,0.063075,0.156352,112385
3,0.003041,-0.031917,0.029937,-0.067371,-0.029908,0.079296,-0.048438,0.037805,0.069073,0.078426,...,0.040287,-0.049541,0.126816,0.086432,-0.080204,0.057684,0.032011,0.048602,0.107006,129387
4,-0.044571,-0.035114,0.011129,-0.072340,-0.011696,0.057001,0.009877,0.047601,0.101774,0.084685,...,0.016229,-0.096154,0.135698,0.053917,-0.129124,0.049123,0.007659,0.070066,0.109144,139542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5293,0.000701,-0.023391,0.035990,-0.055276,-0.031151,0.083628,-0.042455,0.027234,0.080305,0.052869,...,0.047526,-0.052151,0.114098,0.058738,-0.078472,0.068932,0.015908,0.042295,0.068229,158273
5294,-0.009442,-0.006331,0.033899,-0.046659,-0.012521,0.076044,-0.024421,0.032103,0.104349,0.047653,...,0.023975,-0.042587,0.095013,0.033225,-0.088895,0.042388,0.011780,0.051895,0.083434,176069
5295,0.007605,-0.035212,0.011528,-0.045482,-0.019613,0.072249,-0.026285,0.050078,0.086036,0.037476,...,0.060282,-0.046788,0.132915,0.059839,-0.075691,0.079963,0.001748,0.035109,0.083052,162054
5296,-0.055193,0.001171,0.024158,-0.047944,-0.028503,0.034690,0.020747,0.032103,0.099001,0.101715,...,0.011016,-0.100521,0.125203,0.076400,-0.136886,0.059371,0.033102,0.076154,0.136745,104447
5297,-0.016036,-0.024760,0.028203,-0.062746,-0.025151,0.067946,-0.016859,0.036895,0.105838,0.070414,...,0.010223,-0.064242,0.131622,0.049554,-0.076323,0.057134,0.030944,0.062236,0.109738,124806

In [19]:
mixed_data = pd.merge(text_pd,digital_pd,on='hadm_id',how='left')
mixed_data

,text_1,text_2,text_3,text_4,text_5,text_6,text_7,text_8,text_9,text_10,...,50903,50904,50905,50907,51000,50927,50906,50945,age,flag
0,0.013509,0.001207,0.033994,-0.043248,-0.037487,0.080954,-0.034336,0.015435,0.072741,0.072487,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85,1.0
1,-0.025060,-0.009472,0.043057,-0.070655,-0.030373,0.069708,-0.013439,0.041686,0.112789,0.070655,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67,0.0
2,-0.015254,-0.005279,0.018983,-0.076844,0.002726,0.046745,-0.008597,0.054734,0.107683,0.092759,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67,0.0
3,0.003041,-0.031917,0.029937,-0.067371,-0.029908,0.079296,-0.048438,0.037805,0.069073,0.078426,...,NaN,NaN,NaN,174,NaN,NaN,NaN,NaN,84,1.0
4,-0.044571,-0.035114,0.011129,-0.072340,-0.011696,0.057001,0.009877,0.047601,0.101774,0.084685,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5293,0.000701,-0.023391,0.035990,-0.055276,-0.031151,0.083628,-0.042455,0.027234,0.080305,0.052869,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75,1.0
5294,-0.009442,-0.006331,0.033899,-0.046659,-0.012521,0.076044,-0.024421,0.032103,0.104349,0.047653,...,2.8,66,102.0,188,101,NaN,NaN,NaN,69,1.0
5295,0.007605,-0.035212,0.011528,-0.045482,-0.019613,0.072249,-0.026285,0.050078,0.086036,0.037476,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89,1.0
5296,-0.055193,0.001171,0.024158,-0.047944,-0.028503,0.034690,0.020747,0.032103,0.099001,0.101715,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,0.0
5297,-0.016036,-0.024760,0.028203,-0.062746,-0.025151,0.067946,-0.016859,0.036895,0.105838,0.070414,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,0.0

In [90]:
nan_row = []   #找到null值大于100的行
for i in mixed_data.index:
    row = mixed_data.iloc[i,:].isnull().sum()
    if row > 90:
        nan_row.append(i)
print(len(nan_row))

666

In [91]:
mixed_data_100 = mixed_data.drop(labels=nan_row)
mixed_data_100.shape

(4632, 343)

In [94]:
nan_column = []  #找到null值大于5079的列
for i in mixed_data_100.columns:
    res = mixed_data_100[i].isnull().sum()
    if res > 3000:
        nan_column.append(i)
print(len(nan_column))
print(nan_column)

61
['deathtime', '228151', '228152', '8555', '220046', '220545', '430', '220546', '220603', '220624', '220645', '220050', '220650', '224167', '224643', '220051', '220180', '220210', '220228', '431', '1524', '1526', '442', '482', '484', '6', '1539', '1540', '116', '8440', '6701', '8364', '225309', '8445', '8446', '225310', '225693', '226534', '226537', '226540', '226762', '226761', '227062', '227063', '227242', '227017', '227243', '227429', '227444', '227457', '789', '793', '806', '850', '851', '853', '50963', '50909', '50927', '50906', '50945']

In [95]:
mixed_data_100_5079 = mixed_data_100.drop(labels = nan_column,axis = 1)
mixed_data_100_5079.shape

(4632, 282)

In [96]:
mixed_data_100_5079.columns.values

array(['text_1', 'text_2', 'text_3', 'text_4', 'text_5', 'text_6',
       'text_7', 'text_8', 'text_9', 'text_10', 'text_11', 'text_12',
       'text_13', 'text_14', 'text_15', 'text_16', 'text_17', 'text_18',
       'text_19', 'text_20', 'text_21', 'text_22', 'text_23', 'text_24',
       'text_25', 'text_26', 'text_27', 'text_28', 'text_29', 'text_30',
       'text_31', 'text_32', 'text_33', 'text_34', 'text_35', 'text_36',
       'text_37', 'text_38', 'text_39', 'text_40', 'text_41', 'text_42',
       'text_43', 'text_44', 'text_45', 'text_46', 'text_47', 'text_48',
       'text_49', 'text_50', 'text_51', 'text_52', 'text_53', 'text_54',
       'text_55', 'text_56', 'text_57', 'text_58', 'text_59', 'text_60',
       'text_61', 'text_62', 'text_63', 'text_64', 'text_65', 'text_66',
       'text_67', 'text_68', 'text_69', 'text_70', 'text_71', 'text_72',
       'text_73', 'text_74', 'text_75', 'text_76', 'text_77', 'text_78',
       'text_79', 'text_80', 'text_81', 'text_82', 'text_83', 'text_84',
       'text_85', 'text_86', 'text_87', 'text_88', 'text_89', 'text_90',
       'text_91', 'text_92', 'text_93', 'text_94', 'text_95', 'text_96',
       'text_97', 'text_98', 'text_99', 'text_100', 'text_101',
       'text_102', 'text_103', 'text_104', 'text_105', 'text_106',
       'text_107', 'text_108', 'text_109', 'text_110', 'text_111',
       'text_112', 'text_113', 'text_114', 'text_115', 'text_116',
       'text_117', 'text_118', 'text_119', 'text_120', 'text_121',
       'text_122', 'text_123', 'text_124', 'text_125', 'text_126',
       'text_127', 'text_128', 'text_129', 'text_130', 'text_131',
       'text_132', 'text_133', 'text_134', 'text_135', 'text_136',
       'text_137', 'text_138', 'text_139', 'text_140', 'text_141',
       'text_142', 'text_143', 'text_144', 'text_145', 'text_146',
       'text_147', 'text_148', 'text_149', 'text_150', 'text_151',
       'text_152', 'text_153', 'text_154', 'text_155', 'text_156',
       'text_157', 'text_158', 'text_159', 'text_160', 'text_161',
       'text_162', 'text_163', 'text_164', 'text_165', 'text_166',
       'text_167', 'text_168', 'text_169', 'text_170', 'text_171',
       'text_172', 'text_173', 'text_174', 'text_175', 'text_176',
       'text_177', 'text_178', 'text_179', 'text_180', 'text_181',
       'text_182', 'text_183', 'text_184', 'text_185', 'text_186',
       'text_187', 'text_188', 'text_189', 'text_190', 'text_191',
       'text_192', 'text_193', 'text_194', 'text_195', 'text_196',
       'text_197', 'text_198', 'text_199', 'text_200', 'hadm_id',
       'Unnamed: 0', 'hadm_id.1', 'subject_id', 'admittime', 'dischtime',
       'discharge_location', 'religion', 'marital_status', 'ethnicity',
       'diagnosis', 'gender', 'dob', 'dod', 'expire_flag', 'descriptin',
       '644', '617', '618', '1522', '212', '432', '1523', '1529', '455',
       '762', '470', '51', '1535', '87', '1536', '1542', '198', '781',
       '8441', '8368', '8480', '786', '787', '813', '814', '824', '827',
       '829', '833', '837', '861', '1087', '1127', '51249', '51274',
       '51277', '51279', '51301', '50931', '50861', '50862', '50863',
       '50868', '50878', '50882', '50893', '50912', '50954', '51006',
       '51221', '51222', '51237', '50970', '51464', '51491', '50910',
       '51244', '51256', '50911', '50903', '50904', '50905', '50907',
       '51000', 'age', 'flag'], dtype=object)

In [99]:
mixed_data_100_5079 = mixed_data_100_5079.drop(labels=['Unnamed: 0', 'subject_id','hadm_id','hadm_id.1', 'dob','dod','admittime', 'dischtime','expire_flag'], axis=1)
mixed_data_100_5079.shape

(4632, 273)

In [100]:
mixed_data_100_5079.columns.values

array(['text_1', 'text_2', 'text_3', 'text_4', 'text_5', 'text_6',
       'text_7', 'text_8', 'text_9', 'text_10', 'text_11', 'text_12',
       'text_13', 'text_14', 'text_15', 'text_16', 'text_17', 'text_18',
       'text_19', 'text_20', 'text_21', 'text_22', 'text_23', 'text_24',
       'text_25', 'text_26', 'text_27', 'text_28', 'text_29', 'text_30',
       'text_31', 'text_32', 'text_33', 'text_34', 'text_35', 'text_36',
       'text_37', 'text_38', 'text_39', 'text_40', 'text_41', 'text_42',
       'text_43', 'text_44', 'text_45', 'text_46', 'text_47', 'text_48',
       'text_49', 'text_50', 'text_51', 'text_52', 'text_53', 'text_54',
       'text_55', 'text_56', 'text_57', 'text_58', 'text_59', 'text_60',
       'text_61', 'text_62', 'text_63', 'text_64', 'text_65', 'text_66',
       'text_67', 'text_68', 'text_69', 'text_70', 'text_71', 'text_72',
       'text_73', 'text_74', 'text_75', 'text_76', 'text_77', 'text_78',
       'text_79', 'text_80', 'text_81', 'text_82', 'text_83', 'text_84',
       'text_85', 'text_86', 'text_87', 'text_88', 'text_89', 'text_90',
       'text_91', 'text_92', 'text_93', 'text_94', 'text_95', 'text_96',
       'text_97', 'text_98', 'text_99', 'text_100', 'text_101',
       'text_102', 'text_103', 'text_104', 'text_105', 'text_106',
       'text_107', 'text_108', 'text_109', 'text_110', 'text_111',
       'text_112', 'text_113', 'text_114', 'text_115', 'text_116',
       'text_117', 'text_118', 'text_119', 'text_120', 'text_121',
       'text_122', 'text_123', 'text_124', 'text_125', 'text_126',
       'text_127', 'text_128', 'text_129', 'text_130', 'text_131',
       'text_132', 'text_133', 'text_134', 'text_135', 'text_136',
       'text_137', 'text_138', 'text_139', 'text_140', 'text_141',
       'text_142', 'text_143', 'text_144', 'text_145', 'text_146',
       'text_147', 'text_148', 'text_149', 'text_150', 'text_151',
       'text_152', 'text_153', 'text_154', 'text_155', 'text_156',
       'text_157', 'text_158', 'text_159', 'text_160', 'text_161',
       'text_162', 'text_163', 'text_164', 'text_165', 'text_166',
       'text_167', 'text_168', 'text_169', 'text_170', 'text_171',
       'text_172', 'text_173', 'text_174', 'text_175', 'text_176',
       'text_177', 'text_178', 'text_179', 'text_180', 'text_181',
       'text_182', 'text_183', 'text_184', 'text_185', 'text_186',
       'text_187', 'text_188', 'text_189', 'text_190', 'text_191',
       'text_192', 'text_193', 'text_194', 'text_195', 'text_196',
       'text_197', 'text_198', 'text_199', 'text_200',
       'discharge_location', 'religion', 'marital_status', 'ethnicity',
       'diagnosis', 'gender', 'descriptin', '644', '617', '618', '1522',
       '212', '432', '1523', '1529', '455', '762', '470', '51', '1535',
       '87', '1536', '1542', '198', '781', '8441', '8368', '8480', '786',
       '787', '813', '814', '824', '827', '829', '833', '837', '861',
       '1087', '1127', '51249', '51274', '51277', '51279', '51301',
       '50931', '50861', '50862', '50863', '50868', '50878', '50882',
       '50893', '50912', '50954', '51006', '51221', '51222', '51237',
       '50970', '51464', '51491', '50910', '51244', '51256', '50911',
       '50903', '50904', '50905', '50907', '51000', 'age', 'flag'],
      dtype=object)

In [101]:
mixed_data_100_5079 = mixed_data_100_5079.copy()
rep_set = {}
for i in ['gender', 'marital_status','ethnicity','diagnosis','religion','descriptin','51464','discharge_location','644','617','212','8480','1087','51464','432']:  # 生成映射关系
    res = mixed_data_100_5079[i].value_counts()
    index = 0
    rep_set = {}
    for j in res.index:
        rep_set[j] = index
        index += 1
        print(i,rep_set)
    mixed_data_100_5079[i].replace(rep_set, inplace=True)

gender {'M': 0}
gender {'M': 0, 'F': 1}
marital_status {'MARRIED': 0}
marital_status {'MARRIED': 0, 'WIDOWED': 1}
marital_status {'MARRIED': 0, 'WIDOWED': 1, 'SINGLE': 2}
marital_status {'MARRIED': 0, 'WIDOWED': 1, 'SINGLE': 2, 'DIVORCED': 3}
marital_status {'MARRIED': 0, 'WIDOWED': 1, 'SINGLE': 2, 'DIVORCED': 3, 'UNKNOWN (DEFAULT)': 4}
marital_status {'MARRIED': 0, 'WIDOWED': 1, 'SINGLE': 2, 'DIVORCED': 3, 'UNKNOWN (DEFAULT)': 4, 'SEPARATED': 5}
marital_status {'MARRIED': 0, 'WIDOWED': 1, 'SINGLE': 2, 'DIVORCED': 3, 'UNKNOWN (DEFAULT)': 4, 'SEPARATED': 5, 'LIFE PARTNER': 6}
ethnicity {'WHITE': 0}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9, 'HISPANIC/LATINO - PUERTO RICAN': 10}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9, 'HISPANIC/LATINO - PUERTO RICAN': 10, 'ASIAN - ASIAN INDIAN': 11}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9, 'HISPANIC/LATINO - PUERTO RICAN': 10, 'ASIAN - ASIAN INDIAN': 11, 'MULTI RACE ETHNICITY': 12}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9, 'HISPANIC/LATINO - PUERTO RICAN': 10, 'ASIAN - ASIAN INDIAN': 11, 'MULTI RACE ETHNICITY': 12, 'WHITE - RUSSIAN': 13}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9, 'HISPANIC/LATINO - PUERTO RICAN': 10, 'ASIAN - ASIAN INDIAN': 11, 'MULTI RACE ETHNICITY': 12, 'WHITE - RUSSIAN': 13, 'ASIAN - FILIPINO': 14}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9, 'HISPANIC/LATINO - PUERTO RICAN': 10, 'ASIAN - ASIAN INDIAN': 11, 'MULTI RACE ETHNICITY': 12, 'WHITE - RUSSIAN': 13, 'ASIAN - FILIPINO': 14, 'WHITE - OTHER EUROPEAN': 15}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9, 'HISPANIC/LATINO - PUERTO RICAN': 10, 'ASIAN - ASIAN INDIAN': 11, 'MULTI RACE ETHNICITY': 12, 'WHITE - RUSSIAN': 13, 'ASIAN - FILIPINO': 14, 'WHITE - OTHER EUROPEAN': 15, 'HISPANIC/LATINO - CUBAN': 16}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9, 'HISPANIC/LATINO - PUERTO RICAN': 10, 'ASIAN - ASIAN INDIAN': 11, 'MULTI RACE ETHNICITY': 12, 'WHITE - RUSSIAN': 13, 'ASIAN - FILIPINO': 14, 'WHITE - OTHER EUROPEAN': 15, 'HISPANIC/LATINO - CUBAN': 16, 'HISPANIC/LATINO - DOMINICAN': 17}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9, 'HISPANIC/LATINO - PUERTO RICAN': 10, 'ASIAN - ASIAN INDIAN': 11, 'MULTI RACE ETHNICITY': 12, 'WHITE - RUSSIAN': 13, 'ASIAN - FILIPINO': 14, 'WHITE - OTHER EUROPEAN': 15, 'HISPANIC/LATINO - CUBAN': 16, 'HISPANIC/LATINO - DOMINICAN': 17, 'ASIAN - VIETNAMESE': 18}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9, 'HISPANIC/LATINO - PUERTO RICAN': 10, 'ASIAN - ASIAN INDIAN': 11, 'MULTI RACE ETHNICITY': 12, 'WHITE - RUSSIAN': 13, 'ASIAN - FILIPINO': 14, 'WHITE - OTHER EUROPEAN': 15, 'HISPANIC/LATINO - CUBAN': 16, 'HISPANIC/LATINO - DOMINICAN': 17, 'ASIAN - VIETNAMESE': 18, 'BLACK/HAITIAN': 19}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9, 'HISPANIC/LATINO - PUERTO RICAN': 10, 'ASIAN - ASIAN INDIAN': 11, 'MULTI RACE ETHNICITY': 12, 'WHITE - RUSSIAN': 13, 'ASIAN - FILIPINO': 14, 'WHITE - OTHER EUROPEAN': 15, 'HISPANIC/LATINO - CUBAN': 16, 'HISPANIC/LATINO - DOMINICAN': 17, 'ASIAN - VIETNAMESE': 18, 'BLACK/HAITIAN': 19, 'PORTUGUESE': 20}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9, 'HISPANIC/LATINO - PUERTO RICAN': 10, 'ASIAN - ASIAN INDIAN': 11, 'MULTI RACE ETHNICITY': 12, 'WHITE - RUSSIAN': 13, 'ASIAN - FILIPINO': 14, 'WHITE - OTHER EUROPEAN': 15, 'HISPANIC/LATINO - CUBAN': 16, 'HISPANIC/LATINO - DOMINICAN': 17, 'ASIAN - VIETNAMESE': 18, 'BLACK/HAITIAN': 19, 'PORTUGUESE': 20, 'WHITE - EASTERN EUROPEAN': 21}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9, 'HISPANIC/LATINO - PUERTO RICAN': 10, 'ASIAN - ASIAN INDIAN': 11, 'MULTI RACE ETHNICITY': 12, 'WHITE - RUSSIAN': 13, 'ASIAN - FILIPINO': 14, 'WHITE - OTHER EUROPEAN': 15, 'HISPANIC/LATINO - CUBAN': 16, 'HISPANIC/LATINO - DOMINICAN': 17, 'ASIAN - VIETNAMESE': 18, 'BLACK/HAITIAN': 19, 'PORTUGUESE': 20, 'WHITE - EASTERN EUROPEAN': 21, 'ASIAN - KOREAN': 22}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9, 'HISPANIC/LATINO - PUERTO RICAN': 10, 'ASIAN - ASIAN INDIAN': 11, 'MULTI RACE ETHNICITY': 12, 'WHITE - RUSSIAN': 13, 'ASIAN - FILIPINO': 14, 'WHITE - OTHER EUROPEAN': 15, 'HISPANIC/LATINO - CUBAN': 16, 'HISPANIC/LATINO - DOMINICAN': 17, 'ASIAN - VIETNAMESE': 18, 'BLACK/HAITIAN': 19, 'PORTUGUESE': 20, 'WHITE - EASTERN EUROPEAN': 21, 'ASIAN - KOREAN': 22, 'ASIAN - CAMBODIAN': 23}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9, 'HISPANIC/LATINO - PUERTO RICAN': 10, 'ASIAN - ASIAN INDIAN': 11, 'MULTI RACE ETHNICITY': 12, 'WHITE - RUSSIAN': 13, 'ASIAN - FILIPINO': 14, 'WHITE - OTHER EUROPEAN': 15, 'HISPANIC/LATINO - CUBAN': 16, 'HISPANIC/LATINO - DOMINICAN': 17, 'ASIAN - VIETNAMESE': 18, 'BLACK/HAITIAN': 19, 'PORTUGUESE': 20, 'WHITE - EASTERN EUROPEAN': 21, 'ASIAN - KOREAN': 22, 'ASIAN - CAMBODIAN': 23, 'AMERICAN INDIAN/ALASKA NATIVE': 24}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9, 'HISPANIC/LATINO - PUERTO RICAN': 10, 'ASIAN - ASIAN INDIAN': 11, 'MULTI RACE ETHNICITY': 12, 'WHITE - RUSSIAN': 13, 'ASIAN - FILIPINO': 14, 'WHITE - OTHER EUROPEAN': 15, 'HISPANIC/LATINO - CUBAN': 16, 'HISPANIC/LATINO - DOMINICAN': 17, 'ASIAN - VIETNAMESE': 18, 'BLACK/HAITIAN': 19, 'PORTUGUESE': 20, 'WHITE - EASTERN EUROPEAN': 21, 'ASIAN - KOREAN': 22, 'ASIAN - CAMBODIAN': 23, 'AMERICAN INDIAN/ALASKA NATIVE': 24, 'MIDDLE EASTERN': 25}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9, 'HISPANIC/LATINO - PUERTO RICAN': 10, 'ASIAN - ASIAN INDIAN': 11, 'MULTI RACE ETHNICITY': 12, 'WHITE - RUSSIAN': 13, 'ASIAN - FILIPINO': 14, 'WHITE - OTHER EUROPEAN': 15, 'HISPANIC/LATINO - CUBAN': 16, 'HISPANIC/LATINO - DOMINICAN': 17, 'ASIAN - VIETNAMESE': 18, 'BLACK/HAITIAN': 19, 'PORTUGUESE': 20, 'WHITE - EASTERN EUROPEAN': 21, 'ASIAN - KOREAN': 22, 'ASIAN - CAMBODIAN': 23, 'AMERICAN INDIAN/ALASKA NATIVE': 24, 'MIDDLE EASTERN': 25, 'WHITE - BRAZILIAN': 26}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9, 'HISPANIC/LATINO - PUERTO RICAN': 10, 'ASIAN - ASIAN INDIAN': 11, 'MULTI RACE ETHNICITY': 12, 'WHITE - RUSSIAN': 13, 'ASIAN - FILIPINO': 14, 'WHITE - OTHER EUROPEAN': 15, 'HISPANIC/LATINO - CUBAN': 16, 'HISPANIC/LATINO - DOMINICAN': 17, 'ASIAN - VIETNAMESE': 18, 'BLACK/HAITIAN': 19, 'PORTUGUESE': 20, 'WHITE - EASTERN EUROPEAN': 21, 'ASIAN - KOREAN': 22, 'ASIAN - CAMBODIAN': 23, 'AMERICAN INDIAN/ALASKA NATIVE': 24, 'MIDDLE EASTERN': 25, 'WHITE - BRAZILIAN': 26, 'ASIAN - OTHER': 27}
ethnicity {'WHITE': 0, 'UNKNOWN/NOT SPECIFIED': 1, 'BLACK/AFRICAN AMERICAN': 2, 'UNABLE TO OBTAIN': 3, 'OTHER': 4, 'HISPANIC OR LATINO': 5, 'ASIAN': 6, 'PATIENT DECLINED TO ANSWER': 7, 'ASIAN - CHINESE': 8, 'BLACK/CAPE VERDEAN': 9, 'HISPANIC/LATINO - PUERTO RICAN': 10, 'ASIAN - ASIAN INDIAN': 11, 'MULTI RACE ETHNICITY': 12, 'WHITE - RUSSIAN': 13, 'ASIAN - FILIPINO': 14, 'WHITE - OTHER EUROPEAN': 15, 'HISPANIC/LATINO - CUBAN': 16, 'HISPANIC/LATINO - DOMINICAN': 17, 'ASIAN - VIETNAMESE': 18, 'BLACK/HAITIAN': 19, 'PORTUGUESE': 20, 'WHITE - EASTERN EUROPEAN': 21, 'ASIAN - KOREAN': 22, 'ASIAN - CAMBODIAN': 23, 'AMERICAN INDIAN/ALASKA NATIVE': 24, 'MIDDLE EASTERN': 25, 'WHITE - BRAZILIAN': 26, 'ASIAN - OTHER': 27, 'HISPANIC/LATINO - GUATEMALAN': 28}
diagnosis {'CHEST PAIN': 0}
diagnosis {'CHEST PAIN': 0, 'CORONARY ARTERY DISEASE': 1}
diagnosis {'CHEST PAIN': 0, 'CORONARY ARTERY DISEASE': 1, 'ACUTE CORONARY SYNDROME': 2}
diagnosis {'CHEST PAIN': 0, 'CORONARY ARTERY DISEASE': 1, 'ACUTE CORONARY SYNDROME': 2, 'MYOCARDIAL INFARCTION': 3}
diagnosis {'CHEST PAIN': 0, 'CORONARY ARTERY DISEASE': 1, 'ACUTE CORONARY SYNDROME': 2, 'MYOCARDIAL INFARCTION': 3, 'ACUTE MYOCARDIAL INFARCTION': 4}
diagnosis {'CHEST PAIN': 0, 'CORONARY ARTERY DISEASE': 1, 'ACUTE CORONARY SYNDROME': 2, 'MYOCARDIAL INFARCTION': 3, 'ACUTE MYOCARDIAL INFARCTION': 4, 'CONGESTIVE HEART FAILURE': 5}
diagnosis {'CHEST PAIN': 0, 'CORONARY ARTERY DISEASE': 1, 'ACUTE CORONARY SYNDROME': 2, 'MYOCARDIAL INFARCTION': 3, 'ACUTE MYOCARDIAL INFARCTION': 4, 'CONGESTIVE HEART FAILURE': 5, 'MYOCARDIAL INFARCTION\\CATH': 6}
diagnosis {'CHEST PAIN': 0, 'CORONARY ARTERY DISEASE': 1, 'ACUTE CORONARY SYNDROME': 2, 'MYOCARDIAL INFARCTION': 3, 'ACUTE MYOCARDIAL INFARCTION': 4, 'CONGESTIVE HEART FAILURE': 5, 'MYOCARDIAL INFARCTION\\CATH': 6, 'SEPSIS': 7}
diagnosis {'CHEST PAIN': 0, 'CORONARY ARTERY DISEASE': 1, 'ACUTE CORONARY SYNDROME': 2, 'MYOCARDIAL INFARCTION': 3, 'ACUTE MYOCARDIAL INFARCTION': 4, 'CONGESTIVE HEART FAILURE': 5, 'MYOCARDIAL INFARCTION\\CATH': 6, 'SEPSIS': 7, 'ACUTE MYOCARDIAL INFARCTION\\CATH': 8}
diagnosis {'CHEST PAIN': 0, 'CORONARY ARTERY DISEASE': 1, 'ACUTE CORONARY SYNDROME': 2, 'MYOCARDIAL INFARCTION': 3, 'ACUTE MYOCARDIAL INFARCTION': 4, 'CONGESTIVE HEART FAILURE': 5, 'MYOCARDIAL INFARCTION\\CATH': 6, 'SEPSIS': 7, 'ACUTE MYOCARDIAL INFARCTION\\CATH': 8, 'PNEUMONIA': 9}
diagnosis {'CHEST PAIN': 0, 'CORONARY ARTERY DISEASE': 1, 'ACUTE CORONARY SYNDROME': 2, 'MYOCARDIAL INFARCTION': 3, 'ACUTE MYOCARDIAL INFARCTION': 4, 'CONGESTIVE HEART FAILURE': 5, 'MYOCARDIAL INFARCTION\\CATH': 6, 'SEPSIS': 7, 'ACUTE MYOCARDIAL INFARCTION\\CATH': 8, 'PNEUMONIA': 9, 'STEMI': 10}
diagnosis {'CHEST PAIN': 0, 'CORONARY ARTERY DISEASE': 1, 'ACUTE CORONARY SYNDROME': 2, 'MYOCARDIAL INFARCTION': 3, 'ACUTE MYOCARDIAL INFARCTION': 4, 'CONGESTIVE HEART FAILURE': 5, 'MYOCARDIAL INFARCTION\\CATH': 6, 'SEPSIS': 7, 'ACUTE MYOCARDIAL INFARCTION\\CATH': 8, 'PNEUMONIA': 9, 'STEMI': 10, 'UNSTABLE ANGINA': 11}
diagnosis {'CHEST PAIN': 0, 'CORONARY ARTERY DISEASE': 1, 'ACUTE CORONARY SYNDROME': 2, 'MYOCARDIAL INFARCTION': 3, 'ACUTE MYOCARDIAL INFARCTION': 4, 'CONGESTIVE HEART FAILURE': 5, 'MYOCARDIAL INFARCTION\\CATH': 6, 'SEPSIS': 7, 'ACUTE MYOCARDIAL INFARCTION\\CATH': 8, 'PNEUMONIA': 9, 'STEMI': 10, 'UNSTABLE ANGINA': 11, 'CHEST PAIN\\CATH': 12}
diagnosis {'CHEST PAIN': 0, 'CORONARY ARTERY DISEASE': 1, 'ACUTE CORONARY SYNDROME': 2, 'MYOCARDIAL INFARCTION': 3, 'ACUTE MYOCARDIAL INFARCTION': 4, 'CONGESTIVE HEART FAILURE': 5, 'MYOCARDIAL INFARCTION\\CATH': 6, 'SEPSIS': 7, 'ACUTE MYOCARDIAL INFARCTION\\CATH': 8, 'PNEUMONIA': 9, 'STEMI': 10, 'UNSTABLE ANGINA': 11, 'CHEST PAIN\\CATH': 12, 'ST ELEVATED MYOCARDIAL INFARCTION': 13}
diagnosis {'CHEST PAIN': 0, 'CORONARY ARTERY DISEASE': 1, 'ACUTE CORONARY SYNDROME': 2, 'MYOCARDIAL INFARCTION': 3, 'ACUTE MYOCARDIAL INFARCTION': 4, 'CONGESTIVE HEART FAILURE': 5, 'MYOCARDIAL INFARCTION\\CATH': 6, 'SEPSIS': 7, 'ACUTE MYOCARDIAL INFARCTION\\CATH': 8, 'PNEUMONIA': 9, 'STEMI': 10, 'UNSTABLE ANGINA': 11, 'CHEST PAIN\\CATH': 12, 'ST ELEVATED MYOCARDIAL INFARCTION': 13, 'NON-ST SEGMENT ELEVATION MYOCARDIAL INFARCTION': 14}
diagnosis {'CHEST PAIN': 0, 'CORONARY ARTERY DISEASE': 1, 'ACUTE CORONARY SYNDROME': 2, 'MYOCARDIAL INFARCTION': 3, 'ACUTE MYOCARDIAL INFARCTION': 4, 'CONGESTIVE HEART FAILURE': 5, 'MYOCARDIAL INFARCTION\\CATH': 6, 'SEPSIS': 7, 'ACUTE MYOCARDIAL INFARCTION\\CATH': 8, 'PNEUMONIA': 9, 'STEMI': 10, 'UNSTABLE ANGINA': 11, 'CHEST PAIN\\CATH': 12, 'ST ELEVATED MYOCARDIAL INFARCTION': 13, 'NON-ST SEGMENT ELEVATION MYOCARDIAL INFARCTION': 14, 'GASTROINTESTINAL BLEED': 15}
diagnosis {'CHEST PAIN': 0, 'CORONARY ARTERY DISEASE': 1, 'ACUTE CORONARY SYNDROME': 2, 'MYOCARDIAL INFARCTION': 3, 'ACUTE MYOCARDIAL INFARCTION': 4, 'CONGESTIVE HEART FAILURE': 5, 'MYOCARDIAL INFARCTION\\CATH': 6, 'SEPSIS': 7, 'ACUTE MYOCARDIAL INFARCTION\\CATH': 8, 'PNEUMONIA': 9, 'STEMI': 10, 'UNSTABLE ANGINA': 11, 'CHEST PAIN\\CATH': 12, 'ST ELEVATED MYOCARDIAL INFARCTION': 13, 'NON-ST SEGMENT ELEVATION MYOCARDIAL INFARCTION': 14, 'GASTROINTESTINAL BLEED': 15, 'CORONARY ARTERY DISEASE\\CATH': 16}
diagnosis {'CHEST PAIN': 0, 'CORONARY ARTERY DISEASE': 1, 'ACUTE CORONARY SYNDROME': 2, 'MYOCARDIAL INFARCTION': 3, 'ACUTE MYOCARDIAL INFARCTION': 4, 'CONGESTIVE HEART FAILURE': 5, 'MYOCARDIAL INFARCTION\\CATH': 6, 'SEPSIS': 7, 'ACUTE MYOCARDIAL INFARCTION\\CATH': 8, 'PNEUMONIA': 9, 'STEMI': 10, 'UNSTABLE ANGINA': 11, 'CHEST PAIN\\CATH': 12, 'ST ELEVATED MYOCARDIAL INFARCTION': 13, 'NON-ST SEGMENT ELEVATION MYOCARDIAL INFARCTION': 14, 'GASTROINTESTINAL BLEED': 15, 'CORONARY ARTERY DISEASE\\CATH': 16, 'CARDIAC ARREST': 17}
diagnosis

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [102]:
for col in mixed_data_100_5079.columns:
    if str(mixed_data_100_5079[col].dtype) == 'object':
        print(col)

1529
1535
787
824
829
51249
51274
51277
51279
50882
51237
51244
51256
50911
50904
50907
51000

In [103]:
mixed_data_100_5079_replace = mixed_data_100_5079.replace(['2units','2URSSI','20kcl','20k','40k','KCl 20','20meq','KCl 40','no data','NOT DONE','NotDone','DONE','COMPUTER NETWORK FAILURE. TEST NOT RESULTED.','kcl20','ERROR','UNABLE TO REPORT','UNABLE','UNABLE TO REPORT DUE MCHC >38.0','GREATER THAN 63.0','kcl 20'], np.nan)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['>50','>50.0'], 5)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['<0.3'], 0.3)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['<0.01'], 0.01)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['>2'], 2)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['>25','>25.0'], 25)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['<5'], 5)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['o.43'], 0.43)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['>500','GREATER THAN 500'], 500)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['>70,000','> 70,000','GREATER THAN 70,000'], 70)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['>70000','GREATER THAN 70000'], 70000)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['>70000','GREATER THAN 63.0'], 63)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['<50','LESS THAN 50'], 50)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['16..78'], 16.78)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['>10000*'], 10000)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['<500'], 500)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['>2000'], 2000)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['>10000*'], 10000)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['1000-20'], 1000)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['>10000'], 10000)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['500-100'], 400)
mixed_data_100_5079_replace = mixed_data_100_5079_replace.replace(['<35'], 35)

In [104]:
mixed_data_100_5079_replace

,text_1,text_2,text_3,text_4,text_5,text_6,text_7,text_8,text_9,text_10,...,51244,51256,50911,50903,50904,50905,50907,51000,age,flag
0,0.013509,0.001207,0.033994,-0.043248,-0.037487,0.080954,-0.034336,0.015435,0.072741,0.072487,...,21.9,74.3,63,NaN,NaN,NaN,NaN,NaN,85,1.0
1,-0.025060,-0.009472,0.043057,-0.070655,-0.030373,0.069708,-0.013439,0.041686,0.112789,0.070655,...,30.4,63.7,13,NaN,NaN,NaN,NaN,NaN,67,0.0
2,-0.015254,-0.005279,0.018983,-0.076844,0.002726,0.046745,-0.008597,0.054734,0.107683,0.092759,...,35.9,52.6,NaN,NaN,NaN,NaN,NaN,NaN,67,0.0
3,0.003041,-0.031917,0.029937,-0.067371,-0.029908,0.079296,-0.048438,0.037805,0.069073,0.078426,...,14,80,7,NaN,NaN,NaN,174,NaN,84,1.0
4,-0.044571,-0.035114,0.011129,-0.072340,-0.011696,0.057001,0.009877,0.047601,0.101774,0.084685,...,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,58,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5293,0.000701,-0.023391,0.035990,-0.055276,-0.031151,0.083628,-0.042455,0.027234,0.080305,0.052869,...,11.4,79.0,NaN,NaN,NaN,NaN,NaN,NaN,75,1.0
5294,-0.009442,-0.006331,0.033899,-0.046659,-0.012521,0.076044,-0.024421,0.032103,0.104349,0.047653,...,82,2,11,2.8,66,102.0,188,101,69,1.0
5295,0.007605,-0.035212,0.011528,-0.045482,-0.019613,0.072249,-0.026285,0.050078,0.086036,0.037476,...,12.6,82.2,7,NaN,NaN,NaN,NaN,NaN,89,1.0
5296,-0.055193,0.001171,0.024158,-0.047944,-0.028503,0.034690,0.020747,0.032103,0.099001,0.101715,...,NaN,NaN,137,NaN,NaN,NaN,NaN,NaN,86,0.0
5297,-0.016036,-0.024760,0.028203,-0.062746,-0.025151,0.067946,-0.016859,0.036895,0.105838,0.070414,...,26.0,60.9,81,NaN,NaN,NaN,NaN,NaN,86,0.0

In [105]:
for col in mixed_data_100_5079_replace.columns:
    print(col)
    mixed_data_100_5079_replace[col] = mixed_data_100_5079_replace[col].astype('float')

text_1
text_2
text_3
text_4
text_5
text_6
text_7
text_8
text_9
text_10
text_11
text_12
text_13
text_14
text_15
text_16
text_17
text_18
text_19
text_20
text_21
text_22
text_23
text_24
text_25
text_26
text_27
text_28
text_29
text_30
text_31
text_32
text_33
text_34
text_35
text_36
text_37
text_38
text_39
text_40
text_41
text_42
text_43
text_44
text_45
text_46
text_47
text_48
text_49
text_50
text_51
text_52
text_53
text_54
text_55
text_56
text_57
text_58
text_59
text_60
text_61
text_62
text_63
text_64
text_65
text_66
text_67
text_68
text_69
text_70
text_71
text_72
text_73
text_74
text_75
text_76
text_77
text_78
text_79
text_80
text_81
text_82
text_83
text_84
text_85
text_86
text_87
text_88
text_89
text_90
text_91
text_92
text_93
text_94
text_95
text_96
text_97
text_98
text_99
text_100
text_101
text_102
text_103
text_104
text_105
text_106
text_107
text_108
text_109
text_110
text_111
text_112
text_113
text_114
text_115
text_116
text_117
text_118
text_119
text_120
text_121
text_122
text_123
text_124
text_125
text_126
text_127
text_128
text_129
text_130
text_131
text_132
text_133
text_134
text_135
text_136
text_137
text_138
text_139
text_140
text_141
text_142
text_143
text_144
text_145
text_146
text_147
text_148
text_149
text_150
text_151
text_152
text_153
text_154
text_155
text_156
text_157
text_158
text_159
text_160
text_161
text_162
text_163
text_164
text_165
text_166
text_167
text_168
text_169
text_170
text_171
text_172
text_173
text_174
text_175
text_176
text_177
text_178
text_179
text_180
text_181
text_182
text_183
text_184
text_185
text_186
text_187
text_188
text_189
text_190
text_191
text_192
text_193
text_194
text_195
text_196
text_197
text_198
text_199
text_200
discharge_location
religion
marital_status
ethnicity
diagnosis
gender
descriptin
644
617
618
1522
212
432
1523
1529
455
762
470
51
1535
87
1536
1542
198
781
8441
8368
8480
786
787
813
814
824
827
829
833
837
861
1087
1127
51249
51274
51277
51279
51301
50931
50861
50862
50863
50868
50878
50882
50893
50912
50954
51006
51221
51222
51237
50970
51464
51491
50910
51244
51256
50911
50903
50904
50905
50907
51000
age
flag

In [106]:
mixed_data_100_5079_replace['marital_status'].fillna(4, inplace=True)
mixed_data_100_5079_replace['gender'].fillna(0, inplace=True)
mixed_data_100_5079_replace['flag'].fillna(0, inplace=True)
mixed_data_100_5079_replace['ethnicity'].fillna(1, inplace=True)
mixed_data_100_5079_replace['religion'].fillna(1, inplace=True)

for i in mixed_data_100_5079_replace.columns:
    mixed_data_100_5079_replace[i].fillna(round(mixed_data_100_5079_replace[i].mean(),2), inplace=True)

mixed_data_100_5079_replace

,text_1,text_2,text_3,text_4,text_5,text_6,text_7,text_8,text_9,text_10,...,51244,51256,50911,50903,50904,50905,50907,51000,age,flag
0,0.013509,0.001207,0.033994,-0.043248,-0.037487,0.080954,-0.034336,0.015435,0.072741,0.072487,...,21.90,74.30,63.00,4.04,43.75,88.73,158.63,139.03,85.0,1.0
1,-0.025060,-0.009472,0.043057,-0.070655,-0.030373,0.069708,-0.013439,0.041686,0.112789,0.070655,...,30.40,63.70,13.00,4.04,43.75,88.73,158.63,139.03,67.0,0.0
2,-0.015254,-0.005279,0.018983,-0.076844,0.002726,0.046745,-0.008597,0.054734,0.107683,0.092759,...,35.90,52.60,42.56,4.04,43.75,88.73,158.63,139.03,67.0,0.0
3,0.003041,-0.031917,0.029937,-0.067371,-0.029908,0.079296,-0.048438,0.037805,0.069073,0.078426,...,14.00,80.00,7.00,4.04,43.75,88.73,174.00,139.03,84.0,1.0
4,-0.044571,-0.035114,0.011129,-0.072340,-0.011696,0.057001,0.009877,0.047601,0.101774,0.084685,...,14.27,77.78,6.00,4.04,43.75,88.73,158.63,139.03,58.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5293,0.000701,-0.023391,0.035990,-0.055276,-0.031151,0.083628,-0.042455,0.027234,0.080305,0.052869,...,11.40,79.00,42.56,4.04,43.75,88.73,158.63,139.03,75.0,1.0
5294,-0.009442,-0.006331,0.033899,-0.046659,-0.012521,0.076044,-0.024421,0.032103,0.104349,0.047653,...,82.00,2.00,11.00,2.80,66.00,102.00,188.00,101.00,69.0,1.0
5295,0.007605,-0.035212,0.011528,-0.045482,-0.019613,0.072249,-0.026285,0.050078,0.086036,0.037476,...,12.60,82.20,7.00,4.04,43.75,88.73,158.63,139.03,89.0,1.0
5296,-0.055193,0.001171,0.024158,-0.047944,-0.028503,0.034690,0.020747,0.032103,0.099001,0.101715,...,14.27,77.78,137.00,4.04,43.75,88.73,158.63,139.03,86.0,0.0
5297,-0.016036,-0.024760,0.028203,-0.062746,-0.025151,0.067946,-0.016859,0.036895,0.105838,0.070414,...,26.00,60.90,81.00,4.04,43.75,88.73,158.63,139.03,86.0,0.0

In [109]:
mixed_data_100_5079_replace.to_csv('./mixed_data_100_5079_replace_20200912.csv', index=False)

In [112]:
corr = mixed_data_100_5079_replace.corr()
expire_flag = corr['flag'].sort_values(ascending=False)
expire_flag[((expire_flag > 0) | (expire_flag < -0))]

flag                  1.000000
text_158              0.370740
text_69               0.363576
51006                 0.357884
discharge_location    0.335194
                        ...
text_154             -0.270493
50862                -0.275117
text_200             -0.278600
text_10              -0.319085
87                   -0.341535
Name: flag, Length: 273, dtype: float64

In [113]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [114]:
corr_data = mixed_data_100_5079_replace[expire_flag[(expire_flag > 0.1) | (expire_flag < -0.1)].index]
corr_data.shape

(4632, 152)

In [115]:
X, y = np.array(corr_data.drop(labels=['flag'], axis=1)), np.array(corr_data['flag'].apply(int))

In [116]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=666, test_size=0.33)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(3103, 151)
(1529, 151)
(3103,)
(1529,)

In [117]:
standard_scaler = StandardScaler()
standard_scaler.fit(X_train)
standard_scaler.mean_

array([-4.51059624e-02, -3.15572313e-02,  3.02500806e+01,  1.98227522e+00,
        1.49070577e+01,  2.99102288e+01,  5.06454647e-02,  7.66742532e-02,
       -5.07296936e-02, -6.84325375e-02, -7.19130226e-03,  7.04953271e+01,
       -5.80244114e-02,  5.96899954e-02,  1.42689752e+01,  2.56159123e-02,
       -2.76306599e-03,  9.50225746e-02,  2.58696123e-02, -9.50335424e-02,
        4.07645945e-02,  2.67476636e-01, -4.21106263e-04,  1.54863036e+00,
       -2.66788299e-02, -9.21972681e-02, -1.36922332e-01,  1.58499031e-01,
        1.36991299e+00, -2.10431085e-02, -1.43260438e-02,  4.85290687e-02,
        5.13441830e-01, -1.10689881e-01,  3.63875282e+00,  1.51512254e-03,
        9.98579310e+01,  2.82797999e-02, -4.95016870e-02,  1.11391814e+01,
        3.73253303e+00,  3.05053174e+01, -5.71361657e-03, -7.92409426e-03,
       -2.39338152e-02, -3.20897313e-02,  8.10203598e-03,  2.70034002e-02,
        1.47878021e+01,  1.38428940e+00, -1.18936634e-01,  3.94521522e-02,
       -2.35508750e-02, -8.76107371e-03,  6.59237550e-02, -3.44298007e-02,
        5.09657769e-02,  2.69707144e-02,  2.71305690e-02,  7.70106349e+01,
        6.42431656e-02, -8.06709437e-05,  1.34778746e+02, -8.45126512e-03,
        1.47635740e+01,  4.57543248e+02, -5.56217267e-02,  7.49560173e-02,
        5.12797937e+00,  4.15732603e-02, -6.72875401e-03,  4.96190076e-02,
        1.01053174e+00,  1.75475346e-01,  6.95778279e-02,  1.57010879e-02,
       -1.84473960e-02, -5.96897617e-02,  1.24825417e+02,  1.17280052e-01,
       -2.34864306e-02,  1.22666420e+01, -1.57158530e-02, -9.13190367e-03,
       -1.48549776e-02,  1.16059378e+02, -2.93060219e-02, -1.03146098e-01,
       -5.92045893e-03,  3.21380277e+01,  5.63651466e+01,  2.68767890e-02,
        7.05177701e-02,  2.48561468e-02,  1.08528392e+01,  5.56924564e-03,
        2.43646324e-02,  7.95572542e+01,  5.42029995e-03,  2.51972416e-02,
        5.82648437e+01,  3.61028682e+00, -5.85344338e-02, -6.58657769e-02,
        2.40016436e+01,  6.75441097e-02, -1.96860468e-02,  1.04785370e-01,
       -3.76848659e-02,  1.36616710e-02,  1.42654238e+01,  1.08650661e+01,
       -2.85295127e-02,  1.22959385e-01,  8.52239768e+00, -1.57675280e-02,
       -3.10502824e-02, -3.23485288e-02,  4.28346472e-03,  3.99286499e-02,
       -3.10017621e-03,  7.05208041e-02,  3.77540236e-04, -3.82064035e-02,
        9.22873411e-03,  3.93632534e-03, -8.27113129e-02, -1.82984201e-02,
        2.74084369e-02,  2.69460503e-02, -1.14264615e-02,  5.93253589e-02,
       -3.80492967e-02,  2.51121947e+01,  1.04827419e-01,  8.45710504e-02,
        1.65311408e-01,  3.69036457e-02,  3.38240735e+01,  5.04144256e-02,
       -1.36280856e-02, -2.14447384e-03,  5.42910920e-02,  2.90710130e-02,
        1.28795520e+01, -9.35574442e-02, -4.85329177e-02,  3.19115694e+00,
        1.00373401e-01,  6.34127774e-02,  1.49565807e+01])

In [118]:
X_train_standard = standard_scaler.transform(X_train)
X_test_standard = standard_scaler.transform(X_test)
print(X_train_standard.shape)
print(X_test_standard.shape)

(3103, 151)
(1529, 151)

In [119]:
# X_train_text, X_train_digital = X_train[:, 0:200], X_train[:, 200:]

In [120]:
# X_train_text

In [121]:
# X_train_digital

In [122]:
# print(X_train_text.shape)
# print(X_train_digital.shape)

In [123]:
# X_test_text, X_test_digital = X_test[:, 0:200], X_test[:, 200:]
# print(X_test_text.shape)
# print(X_test_digital.shape)

In [124]:
# standard_scaler = StandardScaler()
# standard_scaler.fit(X_train_digital)
# standard_scaler.mean_

In [125]:
# X_train_digital_standard = standard_scaler.transform(X_train_digital)
# X_test_digital_standard = standard_scaler.transform(X_test_digital)
# print(X_train_digital_standard.shape)
# print(X_test_digital_standard.shape)

In [126]:
# standard_scaler = StandardScaler()
# standard_scaler.fit(X_train_text)
# standard_scaler.mean_

In [60]:
# X_train_text_standard = standard_scaler.transform(X_train_text)
# X_test_text_standard = standard_scaler.transform(X_test_text)
# print(X_train_text_standard.shape)
# print(X_test_text_standard.shape)

(3483, 200)
(1716, 200)

In [61]:
# X_train_standard = np.hstack((X_train_text_standard, X_train_digital_standard))
# X_test_standard = np.hstack((X_test_text_standard, X_test_digital_standard))
# print(X_train_standard.shape)
# print(X_test_standard.shape)

(3483, 307)
(1716, 307)

In [127]:
lr = LogisticRegression(C=1000,random_state=666)
lr.fit(X_train_standard, y_train)
lr.score(X_test_standard, y_test) # 输出一个正确率

0.8240680183126227

In [128]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.ensemble import GradientBoostingClassifier

clf = GradientBoostingClassifier(n_estimators=200)
clf.fit(X_train_standard,y_train)
predictions = clf.predict(X_test_standard)
print("GBDT")
target_names = ['class 0', 'class 1']
print(classification_report(y_test,predictions,target_names=target_names))
print("AC",accuracy_score(y_test,predictions))

GBDT
              precision    recall  f1-score   support

     class 0       0.86      0.94      0.90      1072
     class 1       0.83      0.65      0.73       457

    accuracy                           0.86      1529
   macro avg       0.85      0.80      0.81      1529
weighted avg       0.85      0.86      0.85      1529

AC 0.855461085676913

In [129]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf.fit(X_train_standard,y_train)
predictions = clf.predict(X_test_standard)
print("DT")
print(classification_report(y_test,predictions))
print("AC",accuracy_score(y_test,predictions))

DT
              precision    recall  f1-score   support

           0       0.85      0.86      0.85      1072
           1       0.66      0.65      0.65       457

    accuracy                           0.79      1529
   macro avg       0.76      0.75      0.75      1529
weighted avg       0.79      0.79      0.79      1529

AC 0.7946370176586004

In [130]:
import xgboost
from sklearn.naive_bayes import MultinomialNB
clf = xgboost.XGBClassifier()
clf.fit(X_train_standard,y_train)
predictions = clf.predict(X_test_standard)
print("xgboost")
print(classification_report(y_test,predictions))
print("AC",accuracy_score(y_test,predictions))

xgboost
              precision    recall  f1-score   support

           0       0.85      0.94      0.90      1072
           1       0.82      0.62      0.71       457

    accuracy                           0.85      1529
   macro avg       0.84      0.78      0.80      1529
weighted avg       0.84      0.85      0.84      1529

AC 0.8456507521255723

In [131]:
from sklearn.ensemble import GradientBoostingClassifier, VotingClassifier, RandomForestClassifier
import xgboost
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
clf1 = GradientBoostingClassifier(n_estimators=200)
clf2 = RandomForestClassifier(random_state=0, n_estimators=500)
clf3 = LogisticRegression(random_state=1)
clf4 = GaussianNB()
clf5 = xgboost.XGBClassifier()
clf = VotingClassifier(estimators=[
    ('gbdt',clf1),
    #('rf',clf2),
    #('lr',clf3),
    #('nb',clf4),
    ('xgboost',clf5),
    ],
    voting='soft')
clf.fit(X_train_standard,y_train)
predictions = clf.predict(X_test_standard)
print("voting_classify")
print(classification_report(y_test,predictions))
print("AC",accuracy_score(y_test,predictions))

voting_classify
              precision    recall  f1-score   support

           0       0.86      0.95      0.90      1072
           1       0.84      0.63      0.72       457

    accuracy                           0.86      1529
   macro avg       0.85      0.79      0.81      1529
weighted avg       0.85      0.86      0.85      1529

AC 0.855461085676913